.main {
    min-height: 100dvh;
    width: var(--container-width);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: var(--container-width);
    max-width: var(--container-max-width);
    margin: 0 auto;
    padding: 0 var(--spacing-md);
    text-align: center;
}
